//@import "styles.css"; //write is as styles.scss in the main project
.dialog-container{
    position: relative;
    max-width: 350px;
    z-index: 30;
}
.dialog-content{
    background-color: white;
    margin-top: -28rem;
    // @include box-shadow-1-1-10-d6(); //copy the style.css of the mail project
    // height: 60vh;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    // overflow: scroll;
}

@media only screen and (max-width: 767px) and (orientation:landscape){
    .dialog-container{
        max-width: 85%;
    }
    .dialog-content{
        margin-top: -18rem;
        max-height: 250px;
    }
    
}