//@import "styles.css"; //write is as styles.scss in the main project
.dialog-container{
    position: relative;
    max-width: 350px;
    z-index: 30;
}
.dialog-content{
    background-color: white;
    margin-top: -28rem;
    //changes made my Aviral
    // min-height: 200px;
    // max-height: 400px;
    overflow: auto;
}

@media only screen and (max-width: 767px) and (orientation:landscape){
    .dialog-container{
        max-width: 85%;
    }
    .dialog-content{
        margin-top: -18rem;
        max-height: 250px;
    }
    
}