.all-situations-heading{
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C8C95;
    color: #fff;
}

.all-situations-content p{
    color: #0C8C95;
}