<div class="options-heading">
<h4>Identify the Thinking Error(s)!</h4>
</div>
<div class="options-content">
  <div class="group-1">
      <button (click)="onOptionClick(gameService.optionOne)" style="cursor: pointer;">
        {{gameService.optionOneDistortion}}</button>
      <button (click)="onOptionClick(gameService.optionThree)" style="cursor: pointer;">
        {{gameService.optionThreeDistortion}}
      </button>
      <button (click)="onOptionClick(gameService.optionFive)" style="cursor: pointer;">
        {{gameService.optionFiveDistortion}}
      </button>
  </div>
  <div class="group-2">
      <button (click)="onOptionClick(gameService.optionTwo)" style="cursor: pointer;">
        {{gameService.optionTwoDistortion}}
      </button>
      <button (click)="onOptionClick(gameService.optionFour)" style="cursor: pointer;">
        {{gameService.optionFourDistortion}}
      </button>
      <button (click)="onOptionClick(gameService.optionSix)" style="cursor: pointer;">
        {{gameService.optionThreeDistortion}}
      </button>
  </div>
</div>
