<div class="options-heading">
<h4>Identify the Thinking Error(s)!</h4>
</div>
<div class="options-content">
  <div class="group-1">
      <button (click)="onOptionClick(this.game[this.gameService.questionId-1].options[0])" style="cursor: pointer;">{{this.game[this.gameService.questionId-1].options[0].distortion}}</button>
      
      <button (click)="onOptionClick(this.game[this.gameService.questionId-1].options[2])" style="cursor: pointer;">{{this.game[this.gameService.questionId-1].options[2].distortion}}</button>
      <button (click)="onOptionClick(this.game[this.gameService.questionId-1].options[4])" style="cursor: pointer;">{{this.game[this.gameService.questionId-1].options[4].distortion}}</button>
  </div>
  <div class="group-2">
      <button (click)="onOptionClick(this.game[this.gameService.questionId-1].options[1])" style="cursor: pointer;">{{this.game[this.gameService.questionId-1].options[1].distortion}}</button>
      <button (click)="onOptionClick(this.game[this.gameService.questionId-1].options[3])" style="cursor: pointer;">{{this.game[this.gameService.questionId-1].options[3].distortion}}</button>
      <button (click)="onOptionClick(this.game[this.gameService.questionId-1].options[5])" style="cursor: pointer;">{{this.game[this.gameService.questionId-1].options[5].distortion}}</button>
  </div>
</div>
