.options-heading{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333333;
}

.options-content{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.options-content button {
    border-radius: 20px 20px 20px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    min-width: 42vw;
    background-color: #fff;
    color: #4C4C4C;
    margin: 9px;
    border: 1px solid #A5A5A5;
    outline: none;
}

.group-1{
    flex: 1;  
}

.group-2{
    flex: 1;
}