@import '~@angular/material/theming';
@import 'color.palette';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$treadwill-app-primary: mat-palette($treadwill-primary, 500);
$treadwill-app-accent:  mat-palette($mat-pink);

// The warn palette is optional (defaults to red).
$treadwill-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$treadwill-app-theme: mat-light-theme($treadwill-app-primary, $treadwill-app-accent, $treadwill-app-warn);

// This is the background bright yellow used in almost all screen
// use this for coloring cards, sidebars, dialogs etc.
$treadwill-app-background: mat-palette($treadwill-primary, 500);

// This is the foreground color used for texts and icons
$treadwill-app-foreground:    mat-palette($mat-indigo);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($treadwill-app-theme);
